.cardx {
  break-inside: avoid-column;
   padding-bottom: 1rem;
  }

  .card-conatiner{
    padding: 1rem;
    columns: 3;
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  
  
  }

  @media (max-width: 1200px) {
    .card-container {
    padding: 1rem;
      columns: 3;
    }
  }