.TitleCollectionsContainer {
    width: 96%;
    height: 22%;
    background: linear-gradient(to left, #B4BDFF, #7ED7C1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family:sans-serif;

    font-size: 16px;
   
    padding-top: 6px;
    padding-bottom: 6px;

    border-radius: 20px;
    box-shadow: 1px 2px 10px grey;
    border: 2px solid white;
    
    margin: 5px;
    margin-bottom: 15px;
}

#Coll_Banner{
    margin: 0;
    font-size: 22px;  
    font-family: Trebuchet MS ;  
    font-weight: 900;
}


.TitleCollectionsContainer p,h4{
    margin: 0;
   
}

.CollectionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: static;
    justify-content: space-between;
    justify-content: space-around;
}

.Collection {
    display: flex;
    flex-direction: column;
    align-items: center;
}


