.gifStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.gifFontStyle {
    margin-top: 0;

    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.btnStyle {
    background-color: rgb(95, 172, 249);
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    font-family: monospace;
    position: relative;


}

.btnStyle:active {
    background-color: rgb(35, 138, 241);
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    font-family: monospace;
    position: relative;


}

.Light{
color: black;
}
.Dark{
    color: white;
}

.ProfileSize{
    height: 2rem;
}

.LoadingContainer{
    margin-top: 3rem;
}