*{
    margin: 0;
    padding: 0;

}

.containerX {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
    background-image: url('../image/img1.jpg');
    background-size: cover;
    background-position: center bottom 26%;
    color: #fff;
}


#FrontSearchBar {
    background-image: url(../icons/Favicon.png);
    width: 808px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-position: 5px center;
    padding-left:34px;
    background-size: 23px;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: 14px;
  
}

.setBackground{
pointer-events: none;
}

/* Add a media query for screens with a max-width of 768px */
@media (max-width: 868px) {
    #FrontSearchBar {
        width: 500px; /* Adjust the width for smaller screens */
      
       
    }
  
}


@media (max-width: 668px) {
    #FrontSearchBar {
        width: 400px; /* Adjust the width for smaller screens */
      
       
    }

}

#frontp{
 
    font-weight: 500;
    height: 14px;
    color: #f1f0f0;

}

#FrontHead{
 
    font-weight: 700;
    height: 32px;
    color: #ffffff;
    
}

@media (max-width: 526px) {

    #FrontSearchBar {
        width: 325px; /* Adjust the width for smaller screens */
      
       
    }
    .containerX {

        grid-gap: 25px;

    }
    #frontp{
 
        font-weight: 500;
        height: 10px;
        color: #f1f0f0;
        text-align: center;
        width: 18rem;
    
    }

    #FrontHead{
 
        font-weight: 700;
        height: 30px;
        color: #ffffff;
        font-size: 24px;
        text-align: center;
        width: 20rem;
    }
  }

  @media (max-width:343px){
    #FrontSearchBar {
        width: 269px;
      
       
    }
  }