/* styles.css */
#navSearch {

    background-color: #efefef;
    background-repeat: no-repeat;

}

#navSearchActive {
    background-color: rgb(117, 115, 115);
}

.NavSearchClass::placeholder {
    color: rgba(157, 157, 157, 0.92);
}

.NavSearchClass {
    font: Montserrat;
    background-image: url(../image/search.png);
    width: 419px;
    height: 43px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-position: 5px center;
    padding-left: 34px;
    background-size: 23px;
    background-repeat: no-repeat;

    font-size: small;
}

.NavEl {
    color: rgb(29, 28, 28);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    line-height: 43px;
    padding-left: 21px;
}

.NavTittle {
    font-family: pattaya;
    text-decoration: none;
    line-height: 43px;
    padding-right: 3rem;
    font-size: 25px;
    font-weight: 400;
}

#NavBar {

    height: 80px;
}


#NavDiv {
    display: flex;
    align-items: center;

    justify-content: center;
    position: fixed;
    left: 93px;
}



#setPointer {
    pointer-events: none;
}


.searchIcon {
    display: none;
}

.PopSearchContainer {
    width: 100%;
    position: fixed;
    top: 3px;
    z-index: 99;

}

#closeSearch {
    position: fixed;
    height: 2rem;
    right: 6px;
    top: 6px;
}

.PopSearch {
    font: Montserrat;
    background-image: url(../image/search.png);
    width: 100%;
    outline: none;
    background-position: 5px center;
    padding-left: 34px;
    background-size: 23px;
    background-repeat: no-repeat;

    font-size: medium;
    border: hidden;
    border-radius: 10px;
    height: 3rem;


}

@media (max-width: 1199px) {
    .NavSearchClass {
        width: 345px;
    }

    #NavBar {
        height: 80px;
        padding-left: 8px;
        padding-right: 8px;
    }



    #NavCont {
        display: contents;
    }

}

@media (max-width:991px) {
    .NavCheck {

        height: 2rem;
        margin-right: 6px;
        float: right;
        margin-bottom: 4px;

    }





}

@media (max-width:774px) {
    .NavSearchClass {
        width: 16rem;
    }
}

@media (max-width:554px) {
    .NavSearchClass {
        width: 11rem;
    }
}

@media (max-width:466px) {
    .NavSearchClass {
        display: none;
    }

    .searchIcon {
        display: flex;
    }

    .NavTittle {
        padding-right: 0rem;

    }
}

@media (max-width:290px) {
    .NavTittle {
        font-size: 20px;

    }
}