#pop {
  background-color: white;
  /* Set the position to fixed to center it on the screen */
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Set the z-index to a high value to ensure it's on top of other elements */
  z-index: 9999;
  height: auto;
  padding: 0px;

}

#Profileimg {
  position: relative;
  top: -11px;
}

#popImg {
  width: 100%;
  height: 450px;
}


#popBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 6rem;
  margin-right: 3px;
  font-size: smaller;
}

.Popbar {

  display: flex;
  justify-content: space-between;


}

.Popleft {
  display: flex;
  align-items: center;


}

.PopinnerLeft {
  padding-top: 0px;
  padding-left: 25px;
}

.PopinnerLeft p {
  margin-bottom: 0rem;

  display: flex;
  width: 160%;
}

.Popright p {
  margin-bottom: 0rem;
}


.Popright {
  display: flex;


  align-items: center
}

#popIcon {
  display: inline-flex;
  align-items: center;
  margin-left: -14px;
  color: gray;
}

.popDiv {

  display: flex;
  position: relative;
  right: -11px;
}

.mar {
  margin-right: 5px;

}



#closeIcon {
  position: fixed;
  right: 0;
  background-color: white;
  border-radius: 35%;
  margin: -11px;
}


@media (max-width: 757px) {
  #popImg {
    width: 100%;
    height: 384px;
  }


}

@media (max-width: 687px) {
  #popImg {
        width: 100%;
    height: 384px;
  }



}

@media (max-width: 623px) {
  #popImg {
    width: 29rem;
    height: 384px;
  }

}

@media (max-width: 602px) {
  #popImg {
    width: 27rem;
    height: 384px;
  }

}

@media (max-width: 462px) {
  #popImg {
    width: 20rem;
    height: 384px;
  }

}

@media (max-width: 332px) {
  #popImg {
    width: 18rem;
    height: 330spx;
  }

}