* {
  margin: 0;
  padding: 0;
}

.singleCardContainer {
  /* place-self: flex-start; */
  width: 19rem;

}

.bar {

  display: flex;
  justify-content: space-between;

}

.left {
  display: flex;
  align-items: center;

}

.innerLeft {
  padding-left: 30px;
}

.innerLeft p {
  margin-bottom: 0rem;
  display: flex
}

.right p {
  margin-bottom: 0rem;
}


.right {
  display: flex;


  align-items: center
}




.singleCardContainerClick {

  filter: blur(3px);
  width: 19rem;
  pointer-events: none;

}

.cardName {
  font-family: 'circular';
  font-weight: 700;
  font-size: 13.00px;
}

.NameHandler {
  font-family: poppins;
  font-weight: 550;
  font-size: 12px;
  font-style: italic;
}

.likeP {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 13.63px;
}