.viewLight{
    color: black;
}

.viewDark{
    background-color: rgb(28, 27, 27);
    columns: white;
}


#width{
    @media(max-width:328px) {
        width: 21rem;
    }

}

#widthFix{
    height: 100vh;
    @media(max-width:328px) {
        width: 21rem;
    }

}


  


